<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cj.shopback.mapper.SpuMapper">

    <resultMap id="BaseResultMap" type="com.cj.shopback.model.Spu">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="subTitle" column="sub_title" jdbcType="VARCHAR"/>
            <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
            <result property="spgId" column="spg_id" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="lastUpdateTime" column="last_update_time" jdbcType="TIMESTAMP"/>
            <result property="brandId" column="brand_id" jdbcType="INTEGER"/>
            <result property="valid" column="valid" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,sub_title,
        category_id,spg_id,create_time,
        last_update_time,brand_id,valid
    </sql>

    <sql id="selectByDtoSql">
        select * from t_spu
        <where>
            <if test="spu.title !=null and spu.title !=''">
                and title like concat('%',#{spu.title},'%')
            </if>
        </where>

    </sql>
    <select id="selectByDto" resultMap="BaseResultMap">
        <include refid="selectByDtoSql"></include>
    </select>
    <select id="selectPageByDto" resultMap="BaseResultMap">
        select * from t_spu
        <where>
            <if test="spu.title !=null and spu.title !=''">
                and title like concat('%',#{spu.title},'%')
            </if>
        </where>
    </select>
</mapper>
